<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="GoogleURL" value="https://www.googleapis.com/customsearch/v1?key={0}&amp;cx={1}&amp;q={2}" />
    <add key="BingURL" value="https://api.cognitive.microsoft.com/bing/v7.0/search?q={3}" />
    <add key="GoogleAPIKey" value="AIzaSyDvxQVx3ycpU-ghRs0f8LcBFRhDqaCT9Ws" />
    <add key="GoogleCxKey" value="006098523938602744284:0go9vjs3tmo" />
    <add key="BingKey" value="575ae686689244dd86402d74bf758cee" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>